*{
    padding: 0%;
    margin: 0%;
}
li{
    list-style: none;
}
.header{
    display: grid;
    width: 100%;
    grid-column: auto;
}
.titulositio{
    height: 10%;
    padding: 1%;
    text-align: center;
}
.titulositio h1{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2vw;
    font-weight: 700;
    color: rgb(209, 184, 129);
}
.titulositio a{
    text-decoration: none;
}
.nav{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav li{
    font-size: 1.5rem;

}
.nav a{
    margin: 0%;
    color: black;
    text-decoration: none;
    }
    
@media screen and (max-width:952px){
        .titulositio{
            font-size: 30px;
            text-align: center;
        }
        .nav li a{
            font-size: 25px;
            font-weight: 500;
            display: grid;
            grid-template-columns: auto;
            text-align: center;
            line-height: 25px;
            padding: 0.15em;
        }
        .nav{
                margin: 2rem;
              
            }
}


/* /////////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////////////////////////////////////////////////////////// */
   .maininx{
    background-color:rgb(255, 238, 217);
}
   .seccionfrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 5%;
    background: rgb(240,151,151);
    background: linear-gradient(90deg, rgba(240,151,151,1) 3%, rgba(214,191,71,1) 49%, rgba(220,143,223,1) 100%);
}
.seccionfrase p{
    font-weight: 700;
    font-size: 3rem;
}

.seccionuno{
    display: grid;
    columns: auto;
    grid-row: auto auto;
    text-align: center;
    background-color: burlywood;
    margin: 2%;
    border-radius: 6px;
}

.seccionuno__titulo{
    font-size: 6vh;
    font-weight: 200;
}
.seccionuno__texto{
    font-size: 2.5vh;
    padding: 1% 5%;
}
.secciondos{
    display: grid;
    columns: auto;
    grid-row: auto auto;
    text-align: center;
    background-color: rgb(247, 140, 154);
    margin: 2%;
    border-radius: 6px;
}

.secciondos__titulo{
    font-size: 6vh;
    font-weight: 200; 
}
.secciondos__texto{
    font-size: 2.5vh;
    padding: 1% 5%; 
}
  /* /////////////////////////////////////////////////////////////////Main-Index/////////////////////////////////////////////////////////////////////////////////////////////////// */
  .seccion-contecto{
      
  }
  .contact-form{
     width: 85%;
     max-width: 600px;
     background: rgb(255, 238, 217);
     padding: 30px 40px;
     box-sizing: border-box;
     border-radius: 9px;
      align-content: center;
     box-shadow: 0 0 20px black;
     margin-left: auto;
     margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


    }
    .contact-form p{
        margin-top: 0;
        font-weight: 200;
        font-size: 2rem; 
        margin-bottom: 2rem;
        text-align: center;       
        }
        .txtb{
            border: 1px solid gray;
            margin: 8px 0;
            padding: 12px 18px;
            border-radius: 8px;
        }
        .textb label{
            display: block;
            text-align: left;
            color: #333;
           font-size: 14px
           
        }
        .txtb input, .txtb textarea{
            width: 100%;
            background: none;
            border: 1px solid grey;
          
        }
        .btn-contacto{
            display: block;
            background: burlywood;
            text-decoration: none;
            color: black;
            text-align: center;
            margin-top: 5%;
        }
        

/* /////////////////////////////////////////////////////////////////Main-Contacto/////////////////////////////////////////////////////////////////////////////////////////////////// */
.containerproduct{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
background-color: rgb(255, 238, 217);


}
.card{
    background: rgb(247, 190, 67);
    width: 320px;
    margin: 30px 70px;
    border-radius: 15px;
}
.card-image{
    height: 270px;
    margin-bottom: 15px;
    border-radius: 15px 0 0;
}
.card a{
    display: inline-block;
    margin-top: auto;
    text-align: center;
}
.aros-fabula{
    background-image: url(./imagines/Aros/A-FABULA-700x560.jpg);
    background-size: cover;
}
.aros-fortuna{
    background-image: url(./imagines/Aros/A-FORTUNA-1-700x560.jpg);
    background-size: cover; 
}
.aros-odone{
    background-image: url(./imagines/Aros/A-ODONE-700x560.jpg);
    background-size: cover; 
}
.aros-viuda{
    background-image: url(./imagines/Aros/A-VIUDA-700x560.jpg);
    background-size: cover; 
}
.aros-zach{
    background-image: url(./imagines/Aros/A-ZACH-700x560.jpg);
    background-size: cover; 
}
.aros-tania{
    background-image: url(./imagines/Aros/AROS-TANIA-L-700x560.jpg);
    background-size: cover; 
}
.aros-nicaragua{
    background-image: url(./imagines/Aros/A-NICARAGUA-700x560.jpg);
    background-size: cover;
}
.aros-zeidon{
    background-image: url(./imagines/Aros/A-ZEIDON-4-1-700x560.jpg);
    background-size: cover;
}
.aros-galatea{
    background-image: url(./imagines/Aros/AROS-GALATEA-700x560.jpg);
    background-size: cover;
}
.card h3{
    display: flex;
    justify-content:center ;
}
.card p{
    padding: 10px;
    display: flex;
    justify-content: center;
    }
.card a {
    background-color: black;
    color: white;
    padding: 1rem;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
  }

/* /////////////////////////////////////////////////////////////////Main-Aros/////////////////////////////////////////////////////////////////////////////////////////////////// */
.containerproduct{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
background-color: rgb(255, 238, 217);
}
.card{
    background: rgb(247, 190, 67);
    width: 320px;
    margin: 30px 70px;
    border-radius: 15px;
}
.card-image{
    height: 270px;
    margin-bottom: 15px;
    border-radius: 15px 0 0;
}
.brazalete-amalfi{
    background-image: url(./imagines/Pulseras/brazalate-amalfi-700x560.jpg);
    background-size: cover;
}
.brazalete-natalie{
    background-image: url(./imagines/Pulseras/BRAZALETE-NATALIE-700x560.jpg);
    background-size: cover; 
}
.brazalete-idalia{
    background-image: url(./imagines/Pulseras/brazalete\ idalia\ 2\ cherie.jpg);
    background-size: cover; 
}
.brazalete-ilonia{
    background-image: url(./imagines/Pulseras/BRAZALETE-ILONA-700x560.jpg);
    background-size: cover; 
}
.brazalete-pachano{
    background-image: url(./imagines/Pulseras/brazalete-pachano-700x560.jpg);
    background-size: cover; 
}
.brazalete-safari{
    background-image: url(./imagines/Pulseras/BRAZALETE-SAFARI-700x560.jpg);
    background-size: cover; 
}
.brazalete-antitonieta{
    background-image: url(./imagines/Pulseras/BRAZALETE-ANTONIETTA-1-700x560.jpg);
    background-size: cover;
}
.brazalete-finlandia{
    background-image: url(./imagines/Pulseras/BRAZALETE-FINLANDIA-700x560.jpg);
    background-size: cover;
}
.brazalete-marfil{
    background-image: url(./imagines/Pulseras/BRAZALETE-MARFIL-MARRON-700x560.jpg);
    background-size: cover;
}
.card h3{
    display: flex;
    justify-content:center ;
}
.card p{
    padding: 10px;
    display: flex;
    justify-content: center;
    }
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
  }
 /* /////////////////////////////////////////////////////////////////Main-Brazaletes/////////////////////////////////////////////////////////////////////////////////////////////////// */ 
 .containerproduct{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
background-color: rgb(255, 238, 217);
}
@media screen and (max-width:958px){
    .containerproduct{
        display: grid;
        grid-template-columns: auto;
    }
}

.card{
    background: rgb(247, 190, 67);
    width: 320px;
    margin: 30px 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.card-image{
    height: 270px;
    margin-bottom: 15px;
    border-radius: 15px 0 0;
}
.anillos-angelica{
    background-image: url(./imagines/Anillos/AN-ANGELICA-700x560.jpg);
    background-size: cover;
}
.anillos-aztecas{
    background-image: url(./imagines/Anillos/AN-AZTECAS.jpg);
    background-size: cover; 
}
.anillos-dubai{
    background-image: url(./imagines/Anillos/AN-DUBAI-700x560.jpg);
    background-size: cover; 
}
.anillos-luis{
    background-image: url(./imagines/Anillos/AN-LUIS-700x560.jpg);
    background-size: cover; 
}
.anillos-amsterdam{
    background-image: url(./imagines/Anillos/ANILLO-AMSTERDAM-2-700x560.jpg);
    background-size: cover; 
}
.anillos-bolon{
    background-image: url(./imagines/Anillos/ANILLO-BOLON-700x560.jpg);
    background-size: cover; 
}
.anillos-camelia{
    background-image: url(./imagines/Anillos/ANILLO-CAMELIA-700x560.jpg);
    background-size: cover;
}
.anillos-galopago{
    background-image: url(./imagines/Anillos/ANILLO-GALOPAGO-PLATA-700x560.jpg);
    background-size: cover;
}
.anillos-luona{
    background-image: url(./imagines/Anillos/ANILLO-LUONA-1-700x560.jpg);
    background-size: cover;
}
.card h3{
    display: flex;
    justify-content:center ;
}
.card p{
    padding: 10px;
    display: flex;
    justify-content: center;
    }
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-align: center;
    margin: 20px 50px;
    margin-top: auto;
    align-self: center;
    border-radius: 15px 15px 15px;
  }
  /* /////////////////////////////////////////////////////////////////Main-Anillos/////////////////////////////////////////////////////////////////////////////////////////////////// */
 body
 {
     position: relative;
     padding-bottom: 13rem;
     
}
  .footer{
     padding: 40px 0;
     background-color: black; 
     display: block;
     margin: 0%;
     position: absolute;
     bottom: 0%;
     width: 100%;
     
}
.social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.social a{
    font-size: 44px;
    text-decoration: none;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 30px;
    opacity: 0.75;
}
.footer ul{
    margin-top: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0%;
    text-align: center;
}
.footer ul a{
    color: white;
    text-decoration: none;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.outer-footer {
    margin-top:  15px;
    text-align: center;
    font-size: 13px;
    color: white;
    
}
